*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

.terraform/
.terraform.lock.hcl
*.tfvars
*.tfvars.json
!terraform.tfvars.public
!example.tfvars  

key.json

.terraform.tfplan
plan.out
crash.log
*.log

.vscode/
.idea/
*.iml
.DS_Store